.page-template-get-started-container {
    padding-bottom: 154px;

    @media #{$s750} {
        padding-bottom: 80px;
    }

    .hero-section {
        padding-top: 230px;
        position: relative;
        margin-bottom: 50px;
        z-index: 1;
        background-color: $pink;

        @media #{$s750} {
            padding-top: 130px;
        }

        .content-container{
            padding-bottom: 80px;
        }

        .hero_shape{
            width: 100%;
            vertical-align: bottom;
            position: relative;
            top: 1px;
        }

        .section-content {
            display: flex;
            align-items: center;

            @media #{$s750} {
                flex-wrap: wrap;
            }

            .left {
                width: 45%;
                padding-right: 5vw;
                box-sizing: border-box;

                @media #{$s750} {
                    padding: 0px;
                    width: 100%;
                    order: 2;
                }

                .title {
                    @include h1();
                    font-size: 4vw;
                    color: $dark-blue;
                    line-height: 1em;
                    margin-bottom: 50px;

                    @media #{$s1920} {
                        font-size: 4.5vw;
                    }

                    @media #{$s1500} {
                        font-size: 4.5vw;
                    }

                    @media #{$s1300} {
                        margin-bottom: 40px;
                    }

                    @media #{$s750} {
                        font-size: 36px;
                        text-align: center;
                        display: none;
                    }
                }

                .list {
                    max-width: 600px;
                    @include fade-up();

                    li {
                        margin-bottom: 15px;
                        display: flex;
                        align-items: flex-start;

                        &:last-of-type {
                            margin-bottom: 0;
                        }

                        img {
                            margin-right: 10px;
                            position: relative;
                            top: -1px;
                        }

                        span {
                            @include p2();
                            line-height: 1.4em;

                            b {
                                font-family: $font-bold;
                            }
                        }
                    }
                }
            }

            .right {
                width: 55%;

                @media #{$s750} {
                    padding: 0px;
                    width: 100%;
                }

                .title {
                    @include h1();
                    font-size: 4vw;
                    color: $dark-blue;
                    line-height: 1em;
                    margin-bottom: 50px;
                    display: none;

                    @media #{$s1920} {
                        font-size: 4.5vw;
                    }

                    @media #{$s1500} {
                        font-size: 4.5vw;
                    }

                    @media #{$s1300} {
                        margin-bottom: 40px;
                    }

                    @media #{$s750} {
                        font-size: 36px;
                        text-align: center;
                        display: block;
                    }
                }

                .image-holder {
                    position: relative;
                    padding-top: 82.6%;
                    border-radius: 25px;
                    overflow: hidden;

                    img {
                        @include cropped-img();
                        object-fit: contain;
                    }
                }
            }
        }
    }

    .form-section {
        margin: auto;
        max-width: 1140px;
        padding: 0 30px;
        box-sizing: border-box;

        @media #{$s750} {
            padding: 0 25px;
        }

        .title {
            font-family: $font-3-bold;
            font-size: 60px;
            color: $dark-blue;
            text-align: center;
            line-height: 1.3em;

            @media #{$s1100} {
                font-size: 40px;
            }

            @media #{$s750} {
                font-size: 36px;
            }
        }

        .subtitle {
            text-align: center;
            font-family: $font-bold;
            font-size: 22px;
            color: $dark-blue;
            margin-top: 18px;
            @include fade-up();

            @media #{$s1500} {
                font-size: 18px;
            }
        }

        .form-holder{
            @include fade-up();
        }

        form {
            margin-top: 115px;

            @media #{$s750} {
                margin-top: 70px;
            }
        }
    }
}