.page-template-thank-you-container {
    padding-top: 304px;
    padding-bottom: 117px;

    @media #{$s1500} {
        padding-top: 250px;
    }

    @media #{$s750} {
        padding-top: 120px;
    }

    .hero-section {
        .section-content {
            .image-holder {
                max-width: 537px;
                margin: auto;
                margin-bottom: 54px;

                @media #{$s1500} {
                    max-width: 300px;
                }

                @media #{$s750} {
                    max-width: 250px;
                }

                .image {
                    position: relative;
                    padding-top: 79.2%;
                    border-radius: 25px;
                    overflow: hidden;

                    img {
                        @include cropped-img();
                        object-fit: contain;
                    }
                }
            }

            .title {
                @include h1();
                color: $dark-blue;
                line-height: 1em;
                text-align: center;
            }

            .description {
                text-align: center;
                margin-top: 25px;
                font-family: $font-2-medium;
                font-size: 22px;
                color: $dark-blue;

                @media #{$s1500} {
                    font-size: 18px;
                }

                @media #{$s1100} {
                    font-size: 16px;
                }
            }
        }
    }

    .template-part-posts-section {
        margin-top: 218px;

        @media #{$s1500} {
            margin-top: 158px;
        }

        @media #{$s750} {
            margin-top: 80px;
        }

        .section-content {
            padding-top: 117px;
            border-top: solid 1px #000;

            @media #{$s750} {
                padding-top: 80px;
            }
        }
    }
}