.single-post-page-container {
    overflow: hidden;
    padding-bottom: 133px;

    .hero-section {
        max-width: 1980px;
        margin: 0 auto 343px auto;
        padding: 328px 100px 0;
        box-sizing: border-box;
        position: relative;

        @media #{$s1500} {
            margin: 0 auto 300px auto;
            padding: 280px 100px 0;
        }

        @media #{$s1300} {
            padding: 280px 80px 0;
        }

        @media #{$s1100} {
            margin: 0 auto 200px auto;
            padding: 260px 30px 0;
        }

        @media #{$s1023} {
            padding: 220px 30px 0;
        }

        @media #{$s750} {
            padding: 110px 25px 0;
        }

        &:after {
            content: "";
            display: block;
            background-color: $green;
            position: absolute;
            top: -83%;
            left: 50%;
            transform: translateX(-50%);
            width: 250%;
            height: 200%;
            border-radius: 150%;
            z-index: -1;

            @media #{$s750} {
                width: 400%;
            }
        }

        .post {
            display: flex;
            padding-bottom: 81px;

            @media #{$s750} {
                flex-wrap: wrap;
                padding-bottom: 40px;
            }

            .left {
                width: 54.4%;
                padding-top: 98px;
                padding-right: 214px;
                box-sizing: border-box;

                @media #{$s1500} {
                    padding-top: 60px;
                    padding-right: 120px;
                }

                @media #{$s750} {
                    padding: 0px;
                    width: 100%;
                    text-align: center;
                }

                .back-button {
                    @include p1();
                    color: #fff;
                    display: inline-block;
                    margin-bottom: 30px;

                    @media #{$s750} {
                        margin-bottom: 10px;
                    }
                }

                .title {
                    @include h2();
                    color: #fff;

                    @media #{$s750} {
                        text-align: center;
                        margin-bottom: 30px;
                    }
                }
            }

            .right {
                width: 45.6%;
                @include fade-up();

                @media #{$s750} {
                    width: 100%;
                }

                .image-holder {
                    position: relative;
                    padding-top: 85.2%;
                    border-radius: 30px;
                    overflow: hidden;
                    border: solid 1px #fff;

                    img {
                        @include cropped-img();
                    }
                }
            }
        }

        .post-info {
            border-top: solid 1px #fff;
            padding-top: 34px;
            display: flex;
            justify-content: space-between;

            @media #{$s750} {
                padding-top: 20px;
            }

            .tag {
                background-color: rgba(250, 245, 242, 0.15);
                color: #fff;
                min-width: 177px;
                padding-top: 13px;
                padding-bottom: 13px;

                @media #{$s750} {
                    min-width: initial;
                    border-radius: 10px;
                    margin-right: 10px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                }
            }

            .left {
                display: flex;
                align-items: center;

                p {
                    @include p1();
                    margin-right: 26px;
                    color: #fff;

                    @media #{$s750} {
                        display: none;
                    }
                }
            }

            .right{
                .tag{
                    margin-right: 0;
                }
            }
        }
    }

    .editor-section {
        max-width: 1000px;
        padding: 0 30px;
        box-sizing:  border-box;
        margin: auto;

        @media #{$s750} {
            padding: 0 25px;
        }

        h1 {
            @include h2();
            margin-bottom: 25px;
        }

        h2 {
            @include h3();
            margin-bottom: 15px;
        }

        h3, h4, h5 {
            font-size: 22px;
            font-family: $font-2-medium;
            margin-bottom: 7px;

            @media #{$s1500} {
                font-size: 18px;
            }
        }

        p,
        a,
        li {
            @include p2();
            line-height: 1.2em;
        }

        p {
            margin-bottom: 5px;

            a{
                color: $blue;
                text-decoration: underline;

                &:hover{
                    text-decoration: none;
                }
            }
        }

        table{
            border: 1px solid $dark-blue;

            td{
                @include p2();
                line-height: 1.2em;
                border-bottom: 1px solid $dark-blue;
                border-right: 1px solid $dark-blue;
                padding: 15px;
                box-sizing: border-box;
            }
        }

        ul {
            list-style-type: disc;
            padding-left: 20px;

            li {
                margin-bottom: 8px;

                //&:last-of-type {
                //    margin-bottom: 0;
                //}

                &::marker {
                    color: $blue;
                }
            }
        }

        hr {
            border-color: $dark-blue;
            margin: 30px 0;
        }

        img {
            width: 100%;
            height: auto;
            background-color: #fff;
            border-radius: 30px;
            padding: 32px;
            box-sizing: border-box;

            @media #{$s750} {
                width: calc(100% + 50px);
                left: -25px;
                position: relative;
                border-radius: 0px;
            }
        }

        .wp-block-image{
            width: calc(100% + 50px);
            left: -25px;
        }
    }

    .banner-section {
        padding: 0 86px;
        box-sizing: border-box;
        max-width: 1980px;
        margin: 162px auto 0;

        @media #{$s1100} {
            margin: 130px auto 0;
            padding: 0 30px;
        }

        @media #{$s750} {
            padding: 0px;
            margin: 70px auto 0;
        }

        .section-content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            background-color: #FF8D93;
            padding: 110px 144px;
            box-sizing: border-box;
            border-radius: 30px;

            @media #{$s1500} {
                padding: 80px;
            }

            @media #{$s750} {
                border-radius: 0;
                padding: 50px 25px 70px 25px;
            }
            
            .left {
                width: 41.8%;
                @include fade-up();

                @media #{$s1023} {
                    width: 100%;
                }

                .image-holder {
                    position: relative;
                    padding-top: 84.6%;
                    border-radius: 30px;
                    overflow: hidden;

                    img {
                        @include cropped-img();
                        object-fit: contain;
                    }
                }
            }

            .right {
                width: 58.2%;
                padding-left: 125px;
                box-sizing: border-box;

                @media #{$s1500} {
                    padding-left: 80px;
                }

                @media #{$s1023} {
                    padding: 0px;
                    width: 100%;
                    text-align: center;
                    margin-top: 20px;
                }

                .title {
                    font-family: $font-3-bold;
                    font-size: 60px;
                    color: $dark-blue;
                    margin-bottom: 50px;
                    line-height: 1.2em;
                    // max-width: 693px;

                    @media #{$s1500} {
                        font-size: 40px;
                    }

                    @media #{$s750} {
                        font-size: 26px;
                        margin-bottom: 20px;
                    }
                }

                a {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 386px;
                    height: 72px;
                    background-color: #fff;
                    border-radius: 10px;
                    font-family: $font-2-medium;
                    font-size: 18px;
                    color: $dark-blue;
                    @include transition();
                    @include fade-up();
                    

                    &:hover{
                        background-color: $dark-blue;
                        color: #fff;
                    }

                    @media #{$s1500} {
                        font-size: 16px;
                        height: 62px;
                        min-width: 286px;
                    }

                    @media #{$s1100} {
                        min-width: 200px;
                    }

                    @media #{$s750} {
                        min-width: 230px;
                        padding: 14px;
                        height: auto;
                    }
                }
            }
        }
    }

    .template-part-posts-section {
        margin-top: 180px;
        padding-bottom: 118px;

        @media #{$s1500} {
            padding-bottom: 0;
        }

        @media #{$s1100} {
            margin-top: 120px;
        }

        @media #{$s750} {
            margin-top: 70px;
        }
    }
}