@mixin p1 {
    font-family: $font-2-medium;
    font-size: 14px;
    color: $dark-blue;
}

@mixin p2 {
    font-family: $font-regular;
    font-size: 18px;
    color: $dark-blue;

    @media #{$s1500} {
        font-size: 16px;
    }
}

@mixin h1 {
    font-family: $font-3-bold;
    font-size: 95px;

    @media #{$s1500} {
        font-size: 75px;
    }

    @media #{$s1100} {
        font-size: 60px;
    }

    @media #{$s1023} {
        font-size: 40px;
    }

    @media #{$s750} {
        font-size: 36px;
    }
}

@mixin h2 {
    font-family: $font-3-bold;
    font-size: 70px;
    color: $dark-blue;

    @media #{$s1500} {
        font-size: 50px;
    }

    @media #{$s1100} {
        font-size: 40px;
    }

    @media #{$s1023} {
        font-size: 30px;
    }

    @media #{$s750} {
        font-size: 26px;
    }
}

@mixin h3 {
    font-family: $font-2-medium;
    font-size: 36px;
    color: $dark-blue;

    @media #{$s1500} {
        font-size: 26px;
    }

    @media #{$s1100} {
        font-size: 24px;
    }

    @media #{$s1023} {
        font-size: 22px;
    }
}